body {
  background-color: #fdf5e6; 
  
  font-family: Georgia, Garamond, "Times New Roman", serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: #800000;
  
  font-family: Georgia, Garamond, "Times New Roman", serif;
}